/* write down by Qiangfeng Zhang 2017.4.9 */

/* 样式初始化开始 */
* {
	margin: 0;
	padding: 0;
}

body {
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	line-height: 1.5;
	font-family: Helvetica, Arial, sans-serif;
	color: #333;
	background-color: #fff;
	min-width: 1226px;
}

a {
	text-decoration: none;
}

ul, ol {
	list-style: none;
}

i {
	font-family: "iconfont" !important;
	font-style: normal;
}
/* 样式初始化结束 */

/* 头部导航开始 */
.nav {
	width: 100%;
	height: 160px;
	overflow: hidden;
}

.nav_top {
	width: 100%;
	height: 120px;
	background: url(../images/1-top/topBanner.jpg) no-repeat center center;
	cursor: pointer;
}

.nav_bottom {
	width: 100%;
	height: 40px;
	background-color: #333;
}

.nav_bottom_left {
	width: 1226px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
}

.nav_bottom ul {
	float: left;
}

.nav_bottom ul li {
	display: inline-block;
}

.nav_bottom ul li a {
	color: #b0b0b0;
	transition: all .1s;
}

.nav_bottom ul li span {
	color: #b0b0b0;
	margin: 0 0.5em;
	line-height: 40px;
}

.nav_bottom_right {
	float: right;
}

.nav_bottom_right .shoppingCart {
	width: 120px;
	height: 40px;
	margin-left: 27px;
	display: inline-block;
	background-color: #424242;
	text-align: center;
	color: #b0b0b0;
	transition: all .1s;
	cursor: pointer;
}

.nav_bottom li a:hover,.nav_bottom_right .shoppingCart:hover {
	color: #fff;
}
/* 头部导航结束 */

/* logo导航开始 */
.logoNav {
	width: 1226px;
	height: 90px;
	margin: 0 auto;
}

.logoNav .logo {
	float: left;
	margin-top: 20px;
	cursor: pointer;
}

.logoNav ul {
	width: 820px;
	margin-left: 230px;
}

.logoNav ul li {
	float: left;
	height: 80px;
	line-height: 90px;
	padding: 0 10px;
	cursor: pointer;
}

.logoNav ul li:hover {
	border-bottom: 2px solid #ff6702;
}

.logoNav ul li a {
	font-size: 16px;
	color: #333;
}

.logoNav .logoNav_right {
	float: right;
	line-height: 90px;
	position: relative;
	margin-top: 20px;
}

.logoNav .logoNav_right input[type="search"] {
	width: 240px;
	height: 50px;
	border: 1px solid #e0e0e0;
	line-height: 50px;
	outline: 0;
	padding: 0 10px;
	position: absolute;
	box-sizing: border-box;
	top: 0;
	right: 49px;
	transition: all .2s;
}

.logoNav .logoNav_right input[type="search"]:hover {
	border-color: #b0b0b0;
}

.logoNav .logoNav_right input[type="submit"] {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid #e0e0e0;
	font-family: "iconfont" !important;
	font-size: 24px;
	color: #616161;
	background-color: #fff;
	line-height: 24px;
	outline: 0;
	cursor: pointer;
	transition: all .2s;
}

.logoNav .logoNav_right input[type="submit"]:hover {
	background-color: #ff6700;
	border-color: #ff6700;
	color: #fff;
}
/* logo导航结束 */

/* 轮播图开始 */
.banner {
	width: 1226px;
	height: 460px;
	margin: 0 auto;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.banner .menu {
	width: 234px;
	height: 460px;
	float: left;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 20px 0;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.banner .menu ul li {
	position: relative;
	cursor: pointer;
}

.banner .menu ul li:hover {
	background-color: #ff6700;
}

.banner .menu ul li a {
	color: #fff;
	padding-left: 30px;
	height: 42px;
	line-height: 42px;
}

.banner .menu ul li span {
	text-align: right;
	color: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 10px;
	right: 20px;
}

 .banner .bannerPic {
	width: 7356px;
	height: 460px;
	position: absolute;
	z-index: -1;
}

.banner .bannerPic li {
	width: 1226px;
	height: 460px;
	float: left;
}

.banner .bannerDot {
	position: absolute;
	bottom: 15px;
	right: 30px;
}

.banner .bannerDot span {
	width: 6px;
	height: 6px;
	border: 2px solid rgba(255, 255, 255, 0.3);
	display: inline-block;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.4);
	margin: 0 5px;
	cursor: pointer;
	transition: all .3s;
}

.banner .bannerDot .current,.banner .bannerDot span:hover {
	background-color:rgba(255, 255, 255, 0.5);
	border-color: rgba(0, 0, 0, 0.4);
}
/* 轮播图结束 */

/* 明星单品开始 */
.star {
	width: 1226px;
	height: 438px;
	margin: 0 auto;
}

.star .title {
	width: 1226px;
	height: 58px;
	position: relative;
}

.star .title h2 {
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	float: left;
}

.star .title span {
	font-size: 22px;
	display: inline-block;
	width: 24px;
	height: 58px;
	line-height: 58px;
	float: right;
	margin: 0 5px;
}

.star .title span:hover {
	color: #ff6700;
	cursor: pointer;
}

.star ul {
	width: 1226px;
	height: 340px;
	margin-bottom: 40px;
}

.star ul li {
	width: 234px;
	height: 340px;
	float: left;
	background: #fafafa;
	box-sizing: border-box;
	padding-top: 39px;
	margin-right: 14px;
	text-align: center;
	transition: all .6s;
}

.star ul li img {
	width: 160px;
	margin: 0 auto 22px;
	cursor: pointer;
}

.description h3 {
	margin: 0 20px 3px;
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
}

.description p {
	height: 18px;
	margin: 0 20px 12px;
	font-size: 12px;
	color: #b0b0b0;
}

.description h4 {
	color: #ff6709;
	font-weight: normal;
}

.star ul li:nth-child(1) {
	border-top: 1px solid #ffac13;
}

.star ul li:nth-child(2) {
	border-top: 1px solid #83c44e;
}

.star ul li:nth-child(3) {
	border-top: 1px solid #2196f3;
}

.star ul li:nth-child(4) {
	border-top: 1px solid #e53935;
}

.star ul li:nth-child(5) {
	border-top: 1px solid #00c0a5;
	margin-right: 0;
} 
/* 明星栏结束 */

/* 产品分类开始 */
.mainbody {
	width: 100%;
	height: 1110px;
	padding-top: 60px;
	background-color: #f5f5f5;
}
.mainbody .smart {
	width: 1226px;
	height: 686px;
	margin: 0 auto;
}
.mainbody .title {
	width: 1226px;
	height: 58px;
	position: relative;
}

.mainbody .title h2 {
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	float: left;
}

.mainbody .title p {
	width: 89px;
	height: 58px;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 16px;
	line-height: 58px;
	color: #424242;
	cursor: pointer;
}
.mainbody .title p span {
	width: 16px;
	border-radius: 16px;
	text-align: center;
	padding: 0 5px 0 3px;
	margin-left: 4px;
	background-color: #b0b0b0;
}

.mainbody .title p:hover {
	color: #ff6700;
}

.mainbody .title p:hover span {
	color: #b0b0b0;
	background-color: #ff6700;
}

.mainbody .aside {
	width: 234px;
	height: 614px;
	float: left;
}

.mainbody .smart ul {
	width: 992px;
	height: 614px;
	float: left;
}

.mainbody .smart ul li {
	width: 234px;
	height: 300px;
	margin-left: 14px;
	margin-bottom: 14px;
	padding: 15px 20px 0;
	box-sizing: border-box;
	text-align: center;
	background-color: #fff;
	position: relative;
	float: left;
}

.mainbody .smart ul li img {
	width: 160px;
	height: 160px;
	margin: 0 atuo 18px;
	cursor: pointer;
}

.mainbody .smart ul li .description {
	margin-top: 20px;
}

.mainbody .smart ul li p {
	font-size: 12px;
	margin: 0 10px 10px;
}

/* 页面悬浮效果 */
.mainbody .smart .aside:hover,
.mainbody .smart ul li:hover,
.mainbody .video ul li:hover {
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	transform: translate3d(0, -2px, 0);
}

.mainbody .video {
	width: 1226px;
	height: 365px;
	margin: 5px auto 22px;
}

.mainbody .video ul li {
	width: 296px;
	height: 285px;
	margin-left: 14px;
	float: left;
	background-color: #fff;
	text-align: center;
	transition: all 0.1s;
}

.mainbody .video ul li:first-child {
	margin-left: 0;
}

.mainbody .video ul li img {
	width: 296px;
	height: 180px;
	cursor: pointer;
}

.mainbody .video ul li h5 {
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	margin-top: 15px;
}

.mainbody .video ul li p {
	font-size: 12px;
	color: #b0b0b0;
}
/* 主体部分技术 */

/* 底部开始 */
.footer {
	width: 100%;
	height: 420px;
}

.footer .policy {
	width: 1226px;
	height: 80px;
	margin: 0 auto;
	border-bottom: 1px solid #e0e0e0;
}

.footer .policy li {
	float: left;
	height: 80px;
	box-sizing: border-box;
	font-size: 20px;
	line-height: 80px;
	color: #616161;
}

.footer .policy li:first-child {
	margin-left: 65px;
}

.footer .policy li:hover {
	color: #ff6700;
}

.footer .policy li span {
	padding: 0 50px 0;
}

.footer .service {
	width: 1226px;
	margin: 0 auto;
	height: 180px;
	border-bottom: 1px solid red;
}

.footer .service dl {
	float: left;
	margin-top: 30px;
	margin-right: 80px;
}

.footer .service dl dt {
	padding-bottom: 15px;
}

.footer .service dl dd {
	font-size: 12px;
	margin-top: 10px;
	cursor: pointer;
}

.footer dl dd:hover {
	color: #ff6700;
}

.footer .phone {
	float: right;
	width: 220px;
	margin-top: 30px;
	padding: 5px 20px 0;
	text-align: center;
	border-left: 1px solid #e0e0e0;
}

.footer .phone h2 {
	color: #ff6700;
}

.footer .phone p {
	margin: 10px auto;
}

.footer .phone p span {
	padding: 5px;
	color: #ff6700;
	border: 1px solid #ff6700;
}

.footer .phone p span:hover {
	background-color: #ff6700;
	color: #fff;
}

.footer .bottom {
	width: 1226px;
	height: 57px;
	margin: 30px auto;
}

.footer .bottom .bottomLogo {
	float: left;
	margin-right: 10px;
}
.footer .bottom .link {
	width: 750px;
	height: 54px;
	float: left;
	color: #b0b0b0;
	font-size: 12px;
}

.footer .bottom .link a {
	color: #757575;
	line-height: 18px;
}

.footer .bottom .link a:hover {
	color: #ff6700;
}

.footer .bottom .verify {
	float: left;
	width: 380px;
	height: 28px;
	margin-top: 4px;
}

.footer .bottom .verify img {
	width: 85px;
	height: 28px;
	margin-left: 7px;
	cursor: pointer;
}

.slogan {
	width: 267px;
	height: 19px;
	margin: 0 auto;
}
/* 底部结束 */